body{
    font-family: "Roboto Serif" , serif;
    background: var(--cor-3);
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

a{
    display: inline-block;
    text-decoration: none;
}

h1,h2,h3,h4,form,input{
    margin: 0;
    padding: 0;
}